@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');

.hero{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
}
.row{
    display: flex;
}
.column{
    flex: 50%;
    text-align: start;
    padding: 3rem;
}

.hero-h1{
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: clamp(32px, 8.5vmin, 88px);
    font-weight: 820;
    letter-spacing: -0.02em;
    line-height: 1.05;
    text-align: left;
    padding-top: 50px;
}

.hero-p{
    margin: 24px 0;
    display: block;
    font-size: 1.2rem;
    font-family: "Gill Sans Extrabold", sans-serif;
    letter-spacing: -0.02em;
}

.hero-form{
    /* display: flex;
    flex-wrap: nowrap; */
}
.hero-input{
    box-sizing: border-box;
    text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px;
    border-radius: 10px;
    width: 220px;
    padding: 1rem 1rem;
    border: none;
    font-weight: 500;
    margin: 10px 10px;
}

.hero-button{
    width: 180px;
    padding: 1rem .6rem;
    margin: 10px;
    border: none;
    border-radius: 50px;
    font-weight: 500;
}
.hero-button:hover{
    opacity: 0.7;
}


.display-none{
    display: none;
}
.display-block{
    display: block;
}
.flex-reverse{
    flex-direction: row-reverse;
}
.flex-normal{
    flex-direction: row;
}

.bg-green{
    background-color: rgb(37, 79, 26);
}
.bg-pink{
    background-color: rgb(233, 192, 233);
    color: rgb(80, 34, 116);
}
.bg-blue{
    background-color: rgb(80, 34, 116);
    color: rgb(233, 192, 233);
}
.bg-red{
    background-color: rgb(120, 0, 22);
}
.bg-cream{
    background-color: rgb(243, 243, 241);
}
.bg-yellow{
    background-color: rgb(210, 232, 35);
}

.text-green{
    color: rgb(37, 79, 26);
}
.text-pink{
    color: rgb(233, 192, 233);
}
.text-blue{
    color: rgb(80, 34, 116);
}
.text-red{
    color: rgb(120, 0, 22);
}
.text-black{
    color: black;
}
.text-yellow{
    color: rgb(210, 232, 35);
}