.question{
    background-color: rgb(120, 0, 22);
    color: rgb(233, 192, 233);
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    align-items: center;
    flex-wrap: wrap;
}
.question h1{
    width: 800px;
    margin-bottom: 20px;
}
.box{
    width: 800px;
    background-color: #470606;
    border-radius: 25px;
    padding: 48px;
    margin: 20px;
    cursor: pointer;
}
.que{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.ans{
    text-align: left;
    margin: 20px;
}

@media screen and (max-width:950px){
    .box{
        width: 380px;
    }
    .question h1{
        width: 380px;
    }
}